<h2 id="awards" style="color:rgb(70, 70, 70); font-family:Tahoma">Honors and Awards</h2>
<div class="outline-text-2" id="text-org132476d">
<br>
<h4 span style="text-align:left; margin-top:-0.5em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri">
	<ul span style="text-align:left; margin-top:0.0em; margin-left:0.0em; padding:0; font-weight:normal; font-family:Calibri; line-height: 1.0em;">
		<li span class="list"; value="&compfn;"><span class="bold_txt">DS Division Best Paper Award</span> for "Unified Domain Generalization and Adaptation for Multi-View 3D Object Detection", Samsung Electronics, 2025</li>
		<li span class="list"; value="&compfn;"><span class="bold_txt">Samsung Best Paper Award</span> for "Distortion-aware Domain Adaptation" (AI/SW), Samsung Group, 2023</li>
		<li span class="list"; value="&compfn;"><span class="bold_txt">NeurIPS Oral Presentation</span> (Top 6.9% of Submissions), Neural Information Processing Systems, 2022</li>
		<li span class="list"; value="&compfn;"><span class="bold_txt">Boundless Search for Breakthroughs Award</span> for "Autonomous Driving", SAIT, Samsung Electronics, 2022</li>
		<li span class="list"; value="&compfn;"><span class="bold_txt">Device+ Team Excellence Award</span> for "AR Vertical Healthcare", Lenovo, 2018</li>
		<li span class="list"; value="&compfn;"><span class="bold_txt">Estus H. and Vashti L. Magoon
		Award for Teaching Excellence</span>, Purdue University, 2015</li>
			<ul span style="text-align:left; margin-top:-0.5em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri;">
				<li span class="list"; value="&sdot;"><em>Awarded for excellent teaching in "<a href="https://engineering.purdue.edu/toydesign/wp/">ME444: Toy Design</a>"</em></li>
			</ul>
		
		<li span class="list"; value="&compfn;"><span class="bold_txt">Best Paper in Session Award</span>, ASME Dynamic Systems and Control Conference, 2012</li>
	</ul>
</h4>
</div>
