<h2 id="education" style="color:rgb(70, 70, 70); font-family:Tahoma">Education</h2>
<div class="outline-text-2" id="text-org132476d">
</br>
<h4 span style="text-align:left; margin-top:-0.5em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri">
	<ul span style="text-align:left; margin-top:0.0em; margin-left:0.0em; padding:0; font-weight:normal; font-family:Calibri; line-height:1.0em">
		<li span class="list"; value="&compfn;"><span class="bold_txt">Purdue University</span>, West Lafayette, Indiana, USA</li>
			<ul span style="text-align:left; margin-top:0.0em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri; line-height:1.0em">
				<li span class="list"; value="&sdot;"><span class="bold_txt"><em>Ph.D., Mechanical Engineering</em></span> (Aug. 2017)</li>
				<ul span style="text-align:left; margin-top:-0.0em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri">
					<li span class="list"; value="-">Specialization: Human-Computer Interaction; Machine Learning; Robotics</li>
					<li span class="list"; value="-">Thesis: <a href="https://docs.lib.purdue.edu/dissertations/AAI10284197/">Methods for Analyzing Natural Patterns and Physical Ergonomics of Human Gestures in Mid-Air Interaction</a></li>
					<li span class="list"; value="-">Advisor: <a href="https://engineering.purdue.edu/ME/People/ptProfile?resource_id=12331">Karthik Ramani</a></li>
				</ul>
			</ul>

		<li span class="list"; value="&compfn;"><span class="bold_txt">University of Florida</span>, Gainesville, Florida, USA</li>
			<ul span style="text-align:left; margin-top:0.0em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri; line-height:1.5em">
				<li span class="list"; value="&sdot;"><span class="bold_txt"><em>M.S., Mechanical Engineering</em></span> (Aug. 2012)</li>
				<ul span style="text-align:left; margin-top:-0.0em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri">
					<li span class="list"; value="-">Specialization: Controls; Robotics; Machine Learning</li>
					<li span class="list"; value="-">Thesis: <a href="https://ufdcimages.uflib.ufl.edu/UF/E0/04/43/59/00001/JANG_S.pdf">Experimental Demonstration of Structure Estimation of Moving Objects Using Unknown Input Observers</a></li>
					<li span class="list"; value="-">Advisor: <a href="https://mae.ufl.edu/people/profiles/carl-crane/">Carl D. Crane III</a> and <a href="https://mae.ufl.edu/people/profiles/warren-dixon/">Warren E. Dixon</a></li>
				</ul>
			</ul>

		<li span class="list"; value="&compfn;"><span class="bold_txt">Kookmin University</span>, Seoul, South Korea</li>
			<ul span style="text-align:left; margin-top:0.0em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri; line-height:1.0em">
				<li span class="list"; value="&sdot;"><span class="bold_txt"><em>B.S., Mechanical and Automotive Engineering</em></span> (Aug. 2010)</li>
				<ul span style="text-align:left; margin-top:0.0em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri">
					<li span class="list"; value="-">Undergraduate Research Assistant, Unmanned Vehicle Lab.</li>
					<li span class="list"; value="-">Advisor: <a href="https://auto.kookmin.ac.kr/about/research/research_uvl">Jungha Kim</a></li>
				</ul>
			</ul>
	</ul>
</h4>
</div>
