<h2 id="experience" style="color:rgb(70, 70, 70); margin-top:-0.5em; font-family:Tahoma">Professional Experience</h2>
<div class="outline-text-2" id="text-org132476d">
</br>
<h4 span style="text-align:left; margin-top:-0.5em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri">
	<ul span style="text-align:left; margin-top:0.0em; margin-left:0.0em; padding:0; font-weight:normal; font-family:Calibri; line-height:1.0em">
		<li class="list"; value="&compfn;"><span class="bold_txt">Hanyang University ERICA</span>, Ansan, South Korea</li>
			<ul span style="text-align:left; margin-top:0.0em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri; line-height:1.0em">
				<li span class="list"; value="&sdot;">
					<span class="bold_txt"><em>Associate Professor</em></span>, Department of Artificial Intelligence, College of Computing (Mar. 2026 - Current)
				</li>
			</ul>
		
        <li class="list"; value="&compfn;"><span class="bold_txt">Samsung AI Center</span>, Suwon, South Korea</li>
			<ul span style="text-align:left; margin-top:0.0em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri; line-height:1.0em">
				<li span class="list"; value="&sdot;">
					<span class="bold_txt"><em>Principal Researcher (Task Leader)</em></span>, Autonomous Machine Intelligence Team (Dec. 2024 - Feb. 2026)
				</li>
			</ul>

		<li class="list"; value="&compfn;"><span class="bold_txt">Samsung Advanced Institute of Technology (SAIT)</span>, Suwon, South Korea</li>
			<ul span style="text-align:left; margin-top:0.0em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri; line-height:1.0em">
				<li span class="list"; value="&sdot;">
					<span class="bold_txt"><em>Staff</em> &rarr; <em>Principal Researcher</em></span>, Autonomous Driving Team (Jan. 2019 - Dec. 2024)
				</li>
			</ul>

		<li class="list"; value="&compfn;"><span class="bold_txt">Motorola Mobility LLC.</span>, Chicago, IL, USA</li>
			<ul span style="text-align:left; margin-top:0.0em; margin-left:1.0em; padding:0; font-weight:normal; font-family:Calibri; line-height:1.0em">
				<li span class="list"; value="&sdot;"><span class="bold_txt"><em>Machine Learning Staff Researcher</em></span>, Device+Machine Learning Team (Jun. 2017 - Dec. 2018)</li>
			</ul>
	</ul>
</h4>
</div>
