<h2 id="publications" style="color:rgb(70, 70, 70); font-family: Tahoma"> Academic Publications</h2>
<div class="outline-text-2" id="text-org132476d">
<p span style="margin-top:0.0em; margin-left:0.5em; font-weight:normal; font-family:Calibri">
(C=Conference, J=Journal, P=Preprint, &lowast;: Equal contributions, &dagger;: Corresponding authors)
</p>

<!-- Generate publications from BibTeX -->
<ul span style="text-align:left; margin-top:1.0em; margin-left:-2.0em; padding:0; font-weight:normal; font-family:Calibri; line-height:1.25em">
{% bibliography %}
</ul>
</div>
